@model RecipeViewModel


<div class="col">
    <div class="card shadow">
        <div class="card-header border-0">
            <h3 class="mb-0">Valeurs nutritionnelles</h3>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">

                <tbody>
                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">

                                    <i class="fas fa-fire-alt avatar rounded-circle mr-3"></i>

                                <div class="media-body">
                                    <span class="mb-0 text-sm">Calories</span>
                                </div>
                            </div>
                        </th>
                        <td>
                            @Model.Recipe.GetTotalNutrient("calories")
                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">
                                    <i class="fas fa-drumstick-bite avatar rounded-circle mr-3"></i>
                                <div class="media-body">
                                    <span class="mb-0 text-sm">Protéines</span>
                                </div>
                            </div>
                        </th>
                        <td>
                            @Model.Recipe.GetTotalNutrient("proteins")
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="mr-2">@Model.ProteinRatio%</span>
                                <div>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@Model.ProteinRatio" aria-valuemin="0" aria-valuemax="100" style="width: @Model.ProteinRatio%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">
                                    <i class="fas fa-oil-can avatar rounded-circle mr-3"></i>
                                <div class="media-body">
                                    <span class="mb-0 text-sm">Matière grasse</span>
                                </div>
                            </div>
                        </th>
                        <td>
                            @Model.Recipe.GetTotalNutrient("fat")
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="mr-2">@Model.FatRatio%</span>
                                <div>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@Model.FatRatio" aria-valuemin="0" aria-valuemax="100" style="width: @Model.FatRatio%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">
                                    <i class="fas fa-candy-cane avatar rounded-circle mr-3"></i>
                                <div class="media-body">
                                    <span class="mb-0 text-sm">Glucides</span>
                                </div>
                            </div>
                        </th>
                        <td>
                            @Model.Recipe.GetTotalNutrient("carbs")
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="mr-2">@Model.CarbRatio%</span>
                                <div>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@Model.CarbRatio" aria-valuemin="0" aria-valuemax="100" style="width: @Model.CarbRatio%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
