@model KooBooKMVC.ViewModels.RecipeViewModel
@{
    ViewData["Title"] = "Detail";
}

    <div class="jumbotron" id="jumborecipe">
        <h1 class="display-3">@Model.Recipe.Name</h1>
        <h5>@Model.Recipe.Type</h5>

        <div>
            <span class="badge badge-info" style="margin-bottom: 10px">@Model.Recipe.PrepTime minutes</span>
            <span class="badge badge-info" style="margin-bottom: 10px">@Model.Recipe.Servings personnes</span>
        </div>
        <div class="list-group">
            @foreach (var component in Model.Recipe.RecipeComponents)
            {
                <a href="#" class="list-group-item list-group-item-action">
                    @component.Quantity @component.Unit @component.Ingredient.Name
                </a>
            }
        </div>
        @if (Model.Recipe.Id != 0)
        {
            <div class="col-3">
                <img src="@Model.Recipe.ImageUrl" style="border-radius:5px; border: 1px solid #bbb9b9" />
            </div>
        }
        <hr class="my-4">
        <p>@Html.Raw(@Model.Recipe.Instructions)</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Ajouter à ma liste</a>
        </p>
    </div>

<partial name="_NutritionalValues">
