@model KooBooKMVC.ViewModels.RecipeViewModel
@{
    ViewData["Title"] = "Detail";
}

    <div>
        <h1 class="display-3">@Model.Recipe.Name</h1>
        <h5>@Model.Recipe.Type</h5>
        <div class="m-3">
            <a class="btn btn-primary mb-3 float-right"
               asp-action="AddToFavourites"
               asp-route-recipeId="@Model.Recipe.Id">
                <i class="fab fa-gratipay"></i>
            </a>
        </div>
        <div class="mb-3">
            <span class="badge badge-info" style="margin-bottom: 10px">@Model.Recipe.PrepTime minutes</span>
            <span class="badge badge-info" style="margin-bottom: 10px">@Model.Recipe.Servings pSersonnes</span>
        </div>
        <div class="list-group mb-3">
            @foreach (var component in Model.Recipe.RecipeComponents)
            {
                <a href="#" class="list-group-item list-group-item-action">
                    @component.Quantity @component.Unit @component.Ingredient.Name
                </a>
            }
        </div>
        @if (Model.Recipe.Id != 0)
        {
            <div class="col-3">
                <img src="@Model.Recipe.ImageUrl" style="border-radius:5px; border: 1px solid #bbb9b9" />
            </div>
        }
        <hr class="my-4">
        <p>@Html.Raw(@Model.Recipe.Instructions)</p>

    </div>




<partial name="_NutritionalValues">
